@use './partials/global' as *;
@use './partials/nav' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

/* Lp Page */

/* LP Header */

/* LP Navigation */

.lp-header {
    background-color: $pink;
}

.lp-nav {
    @include nav;
    @include nav-links;

    &__left {
        @include nav-left;
    }

    &__right {
        @include nav-right;
    }
    
}

.lp-header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 5rem;
}

.lp-header-bottom__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    max-width: 50%;
    width: 100%;
    padding-right: 2rem;
}

.nitro-header {
    margin-bottom: 1.5rem;
}

.lp-header__bottom p {
    margin-bottom: 1.5rem;
}

.shop-now-button {
    @include button();
    margin-top: 30px;
}

.lp-header__bottom img {
    // max-width: 40%;
    height: auto;
    object-fit: contain;
    // padding: 20px;
    margin: 20px;
    margin-left: 2rem;
}

/* Main Section */

.discount-banner {
    font-size: 2.8rem;
    font-weight: 400;
    width: 90%;
    background-color: $graphite;
    color: $white
}

.discount-code {
    font-weight: 700;
}

/* Main Section */
main {
    text-align: center;
    padding: 2rem;
    background-color: $light-gray;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 3rem;
}

.product-card {
    @include product-card();
}

.product-image {
    max-width: 50%;
    height: auto;
    margin-bottom: 1rem;
    @include product-image();
}

.product-details {
    background-color: $pink;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: .5rem;
}

.product-title {
    margin: 0;
    font-size: 1.5rem;
}

.product-subtitle {
    margin: 0.5rem 0;
    color: $gray;
    font-size: 0.75rem;
}

.price {
    color: $blue;
    font-weight: bold;
}

.view-all-button {
    @include button();
    display: inline-block;
    text-align: center;
}


.discount-banner {
    width: 90%;
    text-align: center;
    background-color: $graphite;
    color: $white;
    padding: 1rem;
    margin: 2rem auto;
    justify-content: center;
    display: block;
}

.discount-code {
    font-weight: 700;
}

/* Footer */
.landingpage-footer {
    background-color: $pink;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: rem;
    text-align: left;
    position: relative;
}

.footer-section {
    max-width: 200px;
}

.footer-logo__left {
    @include footer-logo();
    left: -$offset;
    position: absolute;
}

.footer-logo__right {
    @include footer-logo();
    position: absolute;
    align-self: flex-end;
    right: $offset;
}


.footer-section h3 {
    margin-bottom: 1rem;
}



.different-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    margin: 0 auto;
    max-width: 100%;
    padding: 2rem;
    background-color: $light-gray;
}

.different-container-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-right: 2rem;
    width: 35%;
    margin: 1rem;

}

/* .different-header 

.different-content

.different-subtitle */

.different-grid {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.different-card {
    
}

.learn-more-button {
    @include button;
}

.different-image {
    width: 50px;
}

.different-container-two {
    @include flex-center;
    position: relative;
} 

.different-image-two {
    width: 400px;
    padding: 20px;
    margin: 20px;
    // border: $blue solid 5px;
    position: relative;
    z-index: 1;
}

// .different-image-two::before {
//     content: "";
//     top: 20px;
//     left: 20px;
//     border: $blue solid 5px;
//     z-index: 2;
//     offset: 20px;
// }

.different-image-three {
    position: absolute;
    height: 280px;
    padding: 20px;
    margin: 20px;
    z-index: 3;
    transform: rotate()
}
