@use './partials/global' as *;
@use './partials/nav' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

// LP Header

.lp-header {
    background-color: $pink;
}

.lp-nav {
    @include nav;
    @include nav-links;

    &__left {
        @include nav-left;
    }

    &__right {
        @include nav-right;
    }
    
}

.lp-header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 5rem;
}

.lp-header-bottom__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    max-width: 50%;
    width: 100%;
    padding-right: 2rem;
}


.nitro-header {
    margin-bottom: 1.5rem;
}

.lp-header__bottom p {
    margin-bottom: 1.5rem;
}

.lp-header-bottom__button-container {
    display: flex;
}

.shop-now-button {
    @include lp-button;
    z-index: 2;
    position: relative;
}

.blue-box{
    @include blue-button-box;
}

.lp-header__bottom img {
    height: auto;
    object-fit: contain;
    margin: 20px;
    margin-left: 2rem;
}

/* Main Section */

main {
    text-align: center;
    justify-content: center;
    padding: 2rem;
    background-color: $light-gray;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 3rem;
}

.product-card {
    @include product-card();
}

.product-image {
    max-width: 50%;
    @include product-image();
}

.product-details {
    background-color: $pink;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: .5rem;
    width: 100%;
    margin-top: 1rem;
}

.product-title {
    margin: 0;
    font-size: 1.5rem;
}

.product-subtitle {
    margin: 0.5rem 0;
    color: $gray;
    font-size: 0.75rem;
}

.price {
    color: $blue;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    position: relative;
    left: 55px;
}

.blue-box{
    @include blue-button-box;
}

.view-all-button {
    @include lp-button;
}

// Different Section

@keyframes spin-animation {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.different-image-three {
    position: absolute;
    height: 280px;
    padding: 20px;
    margin: 20px;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    
    &:hover, 
    .different-container-two:hover & {
        animation: spin-animation 2s linear infinite;
    }
}

.different-container-two {
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;
    cursor: pointer;
}

.different-grid {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.learn-more-button {
    @include lp-button;
}

.different-image {
    width: 50px;
}


.different-image-two {
    width: 400px;
    // padding: 20px;
    // margin: 20px;
    border: none;
    position: relative;
    z-index: 1;
}

.different-container-two__blue-box {
    width: 410px;
    height: 400px;
    // padding: 20px;
    // margin: 20px;
    background-color: transparent;
    border: 5px solid $blue;
    position: absolute;
    z-index: 2;
    top: -20px;
    left: -20px;
}


// Discount Section

@keyframes discount-flash {
    0% {
        background-color: $graphite;
    }
    50% {
        background-color: $blue;
    }
    100% {
        background-color: $graphite;
    }
}

.discount-banner {
    width: 90%;
    text-align: center;
    background-color: $graphite;
    color: $white;
    padding: 1rem;
    margin: 2rem auto;
    justify-content: center;
    display: block;
    animation: discount-flash 2.5s ease-in-out infinite;
}

.discount-code {
    font-weight: 700;
}


/* Footer */
.landingpage-footer {
    background-color: $pink;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: rem;
    text-align: left;
    position: relative;
}

.footer-section {
    max-width: 200px;
}

.footer-logo__left {
    @include footer-logo();
    left: -$offset;
    position: absolute;
}

.footer-logo__right {
    @include footer-logo();
    position: absolute;
    align-self: flex-end;
    right: $offset;
}


.footer-section h3 {
    margin-bottom: 1rem;
}



.different-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    margin: 0 auto;
    max-width: 100%;
    padding: 2rem;
    background-color: $light-gray;
}

.different-container-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-right: 2rem;
    width: 35%;
    margin: 1rem;

}

