/* On Landing Page and Menu Page */

// Colors
$blue: #5BACC3;
$pink: #FFF0ED;
$graphite: #393939;
$gray: #909090;
$light-gray: #F7F7F7;
$white: #FFF;

// Mixins

// Imports
@import 'nav';


* {
    margin: 0;
    box-sizing: border-box  ;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    color: $graphite;
}

h1, h2 {
    font-size: 3.75rem;
    font-weight: 300;
}

h3, .nav-heading {
    font-size: 2.06rem;
    font-weight: 300;
}



p {
    font-size: 1.13rem;
    font-weight: 400;
}

.price {
    color: #5BACC3;
}

/* Images */

.coffee-bean-logo {
    width: 3.125rem;
}
.products {
    height: 17.5rem;
}



