@use './variables' as *;

@mixin nav {
    background-color: $pink;
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    height: 4rem;
    list-style-type: none;
    text-decoration: none;  
}

@mixin nav-left {  
    display: flex;
    align-items: center;
    gap: 1rem;
}

@mixin nav-right {
    margin-left: auto;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

@mixin nav-links($text-color: $graphite, $active-color: $blue, $gap:1.5rem) {
    h2 a {
        color: $text-color;
        text-decoration: none;
    }

    nav ul {
        display: flex;
        gap: $gap;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul li a {
        color: $text-color;
        text-decoration: $text-decoration;

        &.shopnow {
            color: $active-color;
        }
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button($bg-color: $blue, $color: $white, $padding: 20px, $border: $graphite 2px solid, $border-radius: none, $cursor: pointer) {
    background-color: $bg-color;
    color: $color;
    padding: $padding;
    border-radius: $border-radius;
    border: $border;
    cursor: $cursor;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translate(-2px);
    }
}

@mixin product-card {
    width: 330px;
    height: 400px;
    padding: 20px;
    margin: 20px;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.1);
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

@mixin product-image {
    height: 280px;
    padding: 20px;
    margin: 20px;
}


@mixin footer-logo {
    width: 120px;
    height: auto;
    opacity: .25;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}