.nav-link-button {
    font-size: 1.31rem;
    font-weight: 400;
    background-color: $blue;
    color: $white;
}
.nav-link {
    font-size: 1.31rem;
    font-weight: 300;
    padding: $padding;
    margin: $margin;
    display: flex;
    justify-content: space-between;
}